.dateContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  right: 28px;
  top: 114px;
}

.date,
.time {
  color: #fff;
  font-family: Russo One;
  font-size: 18px;
  font-weight: 400;
}

.time {
  font-size: 48px;
}
